@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img class="landing-image" src="resources/imgs/DentalRoom.jpg"/>
</div>
<div class="home-content">
    <div style="width: 100%; min-height: 500px; text-align: center; vertical-align: middle; background-color: #879bae">
        <div class="service-cards">
            <div class="service-card">
                <div class="card-top">
                    <p>Icon</p>
                </div>
                <div class="card-bottom">
                    <p>content below</p>
                </div>
            </div>
            <div class="service-card">
                <div class="card-top">
                    <p>Icon</p>
                </div>
                <div class="card-bottom">
                    <p>content below</p>
                </div>
            </div>
            <div class="service-card">
                <div class="card-top">
                    <p>Icon</p>
                </div>
                <div class="card-bottom">
                    <p>content below</p>
                </div>
            </div>
            <div class="service-card">
                <div class="card-top">
                    <p>Icon</p>
                </div>
                <div class="card-bottom">
                    <p>content below</p>
                </div>
            </div>
        </div>
        <div>
            <h1>Smiles are a lifestyle</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat eget lorem ut eleifend. 
                Ut id eros purus. Integer euismod leo non velit ultricies, vitae tristique neque dictum. Aliquam quis nunc finibus, 
                aliquam neque a, vehicula leo. Suspendisse rutrum orci ut mi facilisis elementum. Mauris ultrices mi eu enim porta pellentesque. 
                Proin ac ultricies velit. Praesent eleifend non tortor blandit dignissim. In semper, est ut ultricies iaculis, 
                ipsum eros vulputate massa, nec dignissim metus massa non mauris. Mauris tristique dignissim ligula, eu convallis 
                odio vestibulum quis. Nullam quis consequat urna. Proin tincidunt dignissim augue id congue. Nam ullamcorper, 
                tortor at molestie ultrices, enim leo dictum massa, sit amet maximus li</h3>
        </div>
    </div>
    <div style="width: 100%; text-align: center; vertical-align: middle; background-color: #d3dde9">
        <h1>Meet docs</h1>
        <div style="display: flex; flex-direction: row; justify-content: space-around; margin-left: 40px; margin-right: 40px;">
            <div>
                <img src="resources/imgs/MeetDentistCropped.jpg" style="max-height: 800px; width: auto; margin-right: 30px;"/>
            </div>
            <div style="margin-top: 30px;">
                <h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id mollis sapien. Sed quis luctus tortor, vel tempus nibh. 
                    Pellentesque semper ultricies magna id eleifend. Proin venenatis scelerisque est, 
                    in iaculis libero sodales quis. Suspendisse et arcu in nunc tristique lobortis. Etiam in sollicitudin velit, 
                    sed maximus urna. Maecenas mollis lectus in mauris lacinia, vel viverra 
                    est accumsan. Quisque a elementum sapien. Fusce nec lectus est. Donec efficitur tellus luctus sem blandit 
                    egestas. Nunc eget nibh lorem. 
                    Aenean sit amet ullamcorper magna, ut egestas ante. Praesent sit amet felis non enim consectetur 
                    vehicula in vitae dolor. Pellentesque id 
                    lorem interdum est sollicitudin rutrum. Nulla ac elit non ligula rutrum fringilla. Integer mi elit, 
                    auctor et nisl eget, pulvinar ultrices turpis.
                    Praesent placerat mi vitae sem suscipit, ac ornare magna accumsan. Suspendisse ullamcorper nisl ac 
                    metus mattis, nec volutpat quam feugiat. 
                    Aenean varius risus vel libero lobortis malesuada. Sed id vestibulum elit, id sagittis purus. Quisque
                    sed tristique justo. Morbi velit enim, 
                    placerat nec purus sed, consequat aliquet diam. Donec justo nisi, venenatis sit amet egestas sed,
                    tincidunt sit amet ex. Sed 
                </h3>
                <a href="#" class="btn btn-default" style="margin-top: 30px;">Learn More About Our Doctors</a>
                
            </div>
        </div>
    </div>
    <div style="height: 500px; width: 100%; text-align: center; vertical-align: middle; background-color: #879bae">
        <p>Testimonies go here</p>
        <br />
        <p>Several fake testimonies will go here, maybe do images??? I dunno man, we'll figure it out.  Could do static too</p>
    </div>
    <div style="height: 500px; width: 100%; text-align: center; vertical-align: middle; background-color: #d3dde9">
        <p>Contact info</p>
        <br />
        <p>Mock contact info left and right</p>
    </div>
</div>
