<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WEO_Demo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEO_Demo.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div role="navigation" class="nav-container">
            <nav id="nav-container-left" class="navbar navbar-default">
                <ul class="nav navbar-left">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Patient Information</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </nav>
            <nav id="nav-container-right" class="navbar navbar-default navbar-right">
                <ul class="nav navbar-right">
                    <li class="pull-right"><a href="#">Request Appointment</a></li>
                    <li role="link" class="pull-right"><a href="#"><img src="~/resources/icons/facebook-dark.svg" aria-label="facebook icon"/></a></li>
                    <li role="link" class="pull-right"><a href="#"><img src="~/resources/icons/yelp-dark.svg" aria-label="yelp icon"/></a></li>
                    <li role="link" class="pull-right"><a href="#"><img src="~/resources/icons/google-dark.svg" aria-label="google icon"/></a></li>
                    <li role="link" class="pull-right"><a href="#"><img src="~/resources/icons/healthgrades-dark.svg" aria-label="healthgrades icon"/></a></li>
                </ul>
            </nav>
            <nav id="nav-collapse" class="navbar navbar-default">
                <button class="btn btn-default collapsed" type="button" data-toggle="collapse" data-target="#collapse-menu" aria-expanded="false">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
                <div class="panel-collapse collapse" id="collapse-menu">
                    <ul class="list-group list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Request Appointment</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Patient Information</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <nav class="hours-banner hidden-xs hidden-sm hidden-md">
            <ul>
                <li style="display: inline-block">Mon: 7:30am-5:00pm</li>
                <li> | </li>
                <li style="display: inline-block">Tues: 8:00am-4:30pm</li>
                <li> | </li>
                <li style="display: inline-block">Wed: 8:00am-4:30pm</li>
                <li> | </li>
                <li style="display: inline-block">Thur: 8:00am-5:30pm</li>
                <li> | </li>
                <li style="display: inline-block">Fri: 8:00am-3:00pm</li>
                <li> | </li>
                <li style="display: inline-block">Sat: By appointment</li>
            </ul>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WEO_Demo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
